.empresa
  .banner
    .banner-content
      background-position: center
      background-repeat: no-repeat
      background-size: cover
      display: flex
      align-items: center
      width: 100%
      height: 675px
      .title-empresa
        color: $white
        font-size: calculateRem(30px)
        line-height: calculateRem(45px)
        font-family: 'Poppins', sans-serif
        font-weight: 300
      img
        width: 100%
        position: relative
        z-index: 100
        transform: translateY(110px)
  .title-opera
    p
      color: $gray-2
      font-size: calculateRem(160px)
      font-family: 'Work Sans', sans-serif
      font-weight: 200
      line-height: calculateRem(100px)
      margin-bottom: 40px
    h3
      font-family: 'Poppins', sans-serif
      font-weight: 300
      font-size: calculateRem(30px)
      color: $white
      padding-left: 10px
  .planejamento
    background-color: #1a1b21
    .title-opera
      position: absolute
      left: 0
      top: 100px
    img
      width: 100%
  .implementacao
    background-color: #2c2e3a
    img
      width: 100%
  .operacao
    background-color: #2c2e3a
    padding: 150px 0 250px
    background-image: url('../../images/bg-balls.png')
    background-repeat: no-repeat
    background-size: cover
    background-position: bottom
    .item-single
      width: 100%
      display: flex
      flex-direction: column
      align-items: center
      justify-content: center
      img
        max-width: 100%
        margin-bottom: 15px
      .title
        color: $white
        font-size: calculateRem(22px)
        font-family: 'Poppins', sans-serif
        font-weight: 300
        padding: 0 50px
        text-align: center
