.front-page
  .area-banner
    position: relative
    .go-next
      position: absolute
      z-index: 100
      left: 50%
      bottom: 20px
      font-size: calculateRem(30px)
      color: $white
      cursor: pointer
      animation: jump 1s ease infinite
    .banner-home
      position: relative
      min-height: 100vh
      display: block
      width: 100%
      background: transparent
      border: 0px solid
      box-shadow: 50vw 0 200px 0 rgb(0 0 0 / 50%) inset
      cursor: url(../../images/btn-play-white.png), auto !important
      overflow: hidden
      video
        position: absolute
        left: 50%
        bottom: 0
        transform: translateX(-50%)
        min-width: 100%
        min-height: 100%
        z-index: -1
      h1, h1 *
        font-family: 'Poppins', sans-serif
        font-weight: 300
        font-size: calculateRem(30px)
        color: $white
        text-align: left
        @media(min-width: 992px)
          font-size: calculateRem(85px)
  .integrar
    min-height: 720px
    background: $blue
    padding: 50px 0
    @media(min-width: 992px)
      padding: 0
      position: relative
      display: flex
      align-items: center
    .produtos
      width: 100%
      z-index: 10
      @media(min-width: 992px)
        left: 0
        bottom: -250px
        position: absolute
      @media(min-width: 1200px)
        bottom: -280px
      .title-item
        display: flex
        width: 100%
        justify-content: space-between
        align-items: flex-end
        margin-bottom: 30px
        h3
          font-family: 'Poppins', sans-serif
          font-weight: normal
          font-size: calculateRem(16px)
          color: $white
        p
          color: $gray-2
          font-size: calculateRem(160px)
          font-family: 'Work Sans', sans-serif
          font-weight: 200
          line-height: calculateRem(100px)
      a
        text-decoration: none
        transition: all .3s linear
        display: block
        margin-bottom: 40px
        @media(min-width: 992px)
          margin-bottom: 0
        .hover-play
          opacity: 0
          transition: all .3s linear
          position: absolute
          left: 0
          top: 0
          width: 100%
          height: 100%
          display: flex
          align-items: center
          justify-content: center
          background: rgba(0, 0, 0, 0.5)
          z-index: 1000
          &::before
            content: ''
            width: 60px
            height: 60px
            background-position: center
            background-repeat: no-repeat
            background-size: contain
            background-image: url('../../images/btn-play.png')
        &:hover
          .hover-play
            opacity: 1
        &.link-video
          overflow: hidden
          position: relative
          height: 280px
          @media(min-width: 1200px)
            height: 340px
          video
            width: 100%
            transform: translateX(-50%)
            position: absolute
            left: 50%
            bottom: 0
        .img-produto
          width: 100%
          display: block
          height: 340px
          background-position: center
          background-repeat: no-repeat
          background-size: cover
  .contruir-marcas
    padding-top: 50px
    @media(min-width: 992px)
      padding-top: 400px
    .area-imagens
      position: relative
      z-index: 10
      display: flex
      flex-direction: column
      @media(min-width: 992px)
        flex-direction: row
      .title-image-left, .title-image-right
        font-family: 'Poppins', sans-serif
        font-weight: bold
        font-size: calculateRem(24px)
      .title-image-left
        @media(min-width: 992px)
          position: absolute
          left: -105px
          top: 100px
          z-index: 10
          transform: rotate(-90deg)
      .title-image-right
        @media(min-width: 992px)
          position: absolute
          right: -105px
          top: 100px
          z-index: 10
          transform: rotate(90deg)
      button.img-back
        width: 100%
        height: 400px
        background-repeat: no-repeat
        background-position: center
        background-size: cover
        border: 0px solid
        padding: 0
        position: relative
        margin-bottom: 50px
        @media(min-width: 992px)
          height: 540px
          margin-bottom: 0
        @media(min-width: 1200px)
          height: 640px
        &:hover
          .hover-play
            opacity: 1
        .hover-play
          opacity: 0
          transition: all .3s linear
          position: absolute
          left: 0
          top: 0
          width: 100%
          height: 100%
          display: flex
          align-items: center
          justify-content: center
          background: rgba(0, 0, 0, 0.5)
          z-index: 1000
          &::before
            content: ''
            width: 60px
            height: 60px
            background-position: center
            background-repeat: no-repeat
            background-size: contain
            background-image: url('../../images/btn-play.png')
        &.video
          overflow: hidden
          video
            width: 100%
            transform: translate(-50%, -50%)
            position: absolute
            left: 50%
            top: 50%
            z-index: 500
  .desvendar
    padding: 120px 0
    img.logotipo
      width: 110px
  .session-four
    min-height: 100vh
    width: 100%
    background-position: center
    background-repeat: no-repeat
    background-size: cover
  .session-five
    padding: 100px 0
    .img-back
      width: 100%
      background-repeat: no-repeat
      background-position: center
      background-size: cover
      margin-bottom: 30px
      position: relative
      display: block
      height: 260px
      @media(min-width: 768px)
        height: 500px
      @media(min-width: 992px)
        height: 280px
      @media(min-width: 1200px)
        height: 340px
      .hover-play
        opacity: 0
        transition: all .3s linear
        position: absolute
        left: 0
        top: 0
        width: 100%
        height: 100%
        display: flex
        align-items: center
        justify-content: center
        background: rgba(0, 0, 0, 0.5)
        z-index: 1000
        &::before
          content: ''
          width: 60px
          height: 60px
          background-position: center
          background-repeat: no-repeat
          background-size: contain
          background-image: url('../../images/btn-play.png')
      &:hover
        .hover-play
          opacity: 1
      &.video
        overflow: hidden
        video
          width: 100%
          transform: translate(-50%, -50%)
          position: absolute
          left: 50%
          top: 50%
          z-index: 500
    p
      font-family: 'Poppins', sans-serif
      font-size: calculateRem(30px)
      text-align: center
